@using X.PagedList.Mvc.Core

@model PaginatedList<IPGManager.Models.TarFunc>

@{
    ViewData["Title"] = "Index";
}

<h1>Tarefas por Funcionário</h1>
@if (User.IsInRole("manager") || User.IsInRole("admin"))
{
    <p>
        <a class="button button3" asp-action="Create">Criar Novo&nbsp;<i class="fas fa-user-plus"></i></a>
    </p>
}
else
{
}

@using (Html.BeginForm())
{
    <p>
        <input type="text" name="SearchString" placeholder="Funcionário?" value="@ViewData["CurrentFilter"]" />
        <button type="submit" class="button button1">Procurar&nbsp;<i class="fa fa-search"></i></button>
        <a class="button button2" asp-action="Index">Voltar&nbsp;<i class="fas fa-chevron-left"></i></a>

    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Nome do Funcionário
            </th>
            <th>
                Descrição da Tarefa
            </th>
            <th>
                Horário da Tarefa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tarefa.DescricaoTarefa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tarefa.DataTarefa)
                </td>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <a class="button button3" asp-action="Edit" asp-route-id="@item.TarFuncId">
                            Editar&nbsp;<i class="fas fa-edit"></i>
                        </a> |
                        <a class="button button2" asp-action="Details" asp-route-id="@item.TarFuncId">
                            Detalhes&nbsp;<i class="fas fa-info"></i>
                        </a> |
                        <a class="button button1" asp-action="Delete" asp-route-id="@item.TarFuncId">
                            Apagar&nbsp;<i class="fas fa-trash"></i>
                        </a>
                    </td>
                }
                else { }
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="buttonprevious @prevDisabled" style="vertical-align:middle">
    <span>
        <i class="fas fa-backward"></i>&nbsp;Previous
    </span>
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="buttonnext @nextDisabled" style="vertical-align:middle">
    <span>
        Next&nbsp;<i class="fas fa-forward"></i>
    </span>
</a>
