@model IEnumerable<IPGManager.Models.Cargo>

@{
    ViewData["Title"] = "Index";
}

<h1>Cargos</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Descrição
            </th>
            <th>
                Nível
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelCargo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CargoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CargoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.CargoId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
