@using X.PagedList.Mvc.Core

@model PaginatedList<IPGManager.Models.Cargo>



<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cargos</h1>
<hr/>
@if (User.IsInRole("manager") || User.IsInRole("admin"))
{
    <p>
        <a class="button button3" asp-action="Create">Criar Novo&nbsp;<i class="fas fa-user-plus"></i></a>
    </p>
}
else
{
}
<partial name="_SearchBar" />

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nome do Cargo</a>
            </th>
            <th>
                Descrição do Cargo
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NivelSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nivel</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelCargo)
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    <a class="button button3" asp-action="Edit" asp-route-id="@item.CargoId">
                        Editar&nbsp;<i class="fas fa-edit"></i>                      
                    </a> |
                    <a class="button button2" asp-action="Details" asp-route-id="@item.CargoId">
                        Detalhes&nbsp;<i class="fas fa-info"></i>
                    </a> |
                    <a class="button button1" asp-action="Delete" asp-route-id="@item.CargoId">
                        Apagar&nbsp;<i class="fas fa-trash"></i>
                    </a>
                </td>
            }
            else { }
        </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="buttonprevious @prevDisabled" style="vertical-align:middle">
    <span>
        <i class="fas fa-backward"></i>&nbsp;Anterior
    </span>
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="buttonnext @nextDisabled" style="vertical-align:middle">
    <span>
        Seguinte&nbsp;<i class="fas fa-forward"></i>
    </span>
</a>
