@model IEnumerable<IPGManager.Models.Horario>

@{
    ViewData["Title"] = "Index";
}

<h1>Horários</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Horário de Início
            </th>
            <th>
                Início de Intervalo
            </th>
            <th>
                Fim de Intervalo
            </th>
            <th>
                Hora de Fim
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HInicioIntervalo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HFimIntervalo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HFim)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HorarioId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.HorarioId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.HorarioId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
