@model IEnumerable<IPGManager.Models.Professor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Professor</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Apelido
            </th>
            <th>
                Contacto
            </th>
            <th>
                Data de Nascimento
            </th>
            <th>
                Género
            </th>
            <th>
                Departamento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pnome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartamentoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProfessorId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ProfessorId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ProfessorId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
