@model IEnumerable<IPGManager.Models.TFC>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarefa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcionario.Contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarefa.DescricaoTarefa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TFCId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TFCId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TFCId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
