@model IPGManager.Models.Tarefa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tarefa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeTarefa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeTarefa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoTarefa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoTarefa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataTarefa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataTarefa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TarefaId">Edit</a> |
    <a asp-action="Index">Voltar à lista</a>
</div>
