@model IEnumerable<IPGManager.Models.Tarefa>

@{
    ViewData["Title"] = "Index";
}

<h1>Tarefas</h1>
@if (User.IsInRole("manager") || User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Criar Novo</a>
    </p>
}
else
{
}
<table class="table">
    <thead>
        <tr>
            <th>
                Nome da Tarefa
            </th>
            <th>
                Descrição da Tarefa
            </th>
            <th>
                Data
            </th>
            <th>
                Cargo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeTarefa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoTarefa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataTarefa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo.NomeCargo)
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TarefaId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.TarefaId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.TarefaId">Apagar</a>
                </td>
            }
            else { }
            </tr>
        }
    </tbody>
</table>
